<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

    <div class="card mb-4">

        <%= link_to playlist do %> 

            <%= image_tag src="https://i.ytimg.com/vi/"+playlist.image_url+"/mqdefault.jpg",
                class: "card-img-top img-fluid" %> 

        <% end %>

        <div class="card-block">       

            <div class="card-body">

                <p class="card-text">

                    <span style="float: left;">

                        <%= image_tag playlist.channel.image, width: 30 %>  

                        <%= link_to playlist.channel.name,
                            "https://www.youtube.com/channel/"+playlist.channel.url, 
                            target: "_new"
                        %>

                    </span>

                    <span style="float: right;">

                        <%= number_to_human(playlist.channel.subscriber, :format => '%n%u',
                            :precision => 2, 
                            :units => { :thousand => 'K', :million => 'M', :billion => 'B'}) %>

                    </span>

                </p>

                <p class="card-text" style="clear: both;">

                    <span style="float: left;">

                        <%= "Videos: " + playlist.total_episode.to_s %>

                    </span>

                    <span style="float: right;">

                        <%= "Views: " + number_to_human(playlist.views, :format =>
                        '%n%u', :precision => 2, 
                        :units => { :thousand => 'K', :million => 'M', :billion => 'B' }) %>

                    </span>

                </p>

                <p class="card-text" style="clear: both;">

                    <span style="float: left;">

                        <%= "Duration: " + seconds_to_human(playlist.duration).to_s %>

                    </span>

                    <%# <span style="float: right;">

                        <%= playlist.last_updated.strftime("%Y/%m") 

                    </span> %>

                </p>

                <div style="clear: both;">

                    <% if (playlist.total_episode > 1) %> 

                        <%= link_to 'View',
                        "https://www.youtube.com/playlist?list="+playlist.url, target: "_new",
                        :class => "btn btn-success btn-block" %> 

                    <% else %> 

                        <%= link_to 'View',
                        "https://youtu.be/"+playlist.url, target: "_new", class: "btn
                        btn-success btn-block" %> 

                    <% end %>

                </div>

            </div>
            <!-- End of Card Body -->

        </div>
        <!-- End of Card Block -->    

    </div>
    <!-- End of Card -->

</div>
<!-- End of Column -->