<nav class="navbar navbar-expand-sm navbar-dark bg-faded">

    <a class="navbar-brand" href="#">Navbar</a>

    <button 
        class="navbar-toggler pull-xs-right"
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarMenu" 
    >

    <span class="navbar-toggler-icon"></span>
    
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">

          <%= link_to "Home", root_path, 
          class: "nav-link" %>

      </li>

	    <li>

          <%= link_to 'Deno', deno_path, 
            class: "nav-link #{yield(:deno_active)}" %>

      </li> 

	    <li>

          <%= link_to 'HTML', html_path, 
            class: "nav-link #{yield(:html_active)}" %>

      </li> 

	    <li>

          <%= link_to 'JavaScript', javascript_path, 
            class: "nav-link #{yield(:javascript_active)}" %>

      </li> 

	    <li>

          <%= link_to 'Python', python_path, 
            class: "nav-link #{yield(:python_active)}" %>

      </li> 

	    <li>

      <li>

          <%= link_to 'Rails', rails_path, 
            class: "nav-link #{yield(:rails_active)}" %>

      </li> 

      <li>

          <%= link_to "Playlists", playlists_path, 
              class: "nav-link #{yield(:playlist_active)}" %>

      </li>    

      <li>

        <%= link_to "Channels", channels_path, 
            class: "nav-link #{yield(:channel_active)}" %>

      </li>       

      <li class="nav-item">

        <%= link_to "Topics", topics_path, 
            class: "nav-link #{yield(:topic_active)}" %>

      </li>   

    </ul>
    
  </div>

</nav>